body {
	background-color: #fff;
	color: #333;
	font: 1.2em / 1.2 Helvetica, Arial, sans-serif;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

.logo {
	max-width: 980px;
	font-size: 200%;
	padding: 50px 20px;
	margin: 0 auto;
}

.grid {
	max-width: 980px;
	padding: 0 20px;
	margin: 0 auto;
}

nav {
	background-color: #000;
	padding: .5em;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul ul {
	margin-left: 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: .5em 1em;
}

nav a:hover {
	text-shadow: 1px 1px 3px #ccc;
}

.photos {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}

.photos li {
	flex: 0 0 150px;
	margin: 1px;
}

.feature {
	width: 200px;
	float: left;
	margin: 0 20px 20px 0;
}

aside {
	clear: left;
}

@media screen and (min-width: 40em) {
	nav {
		position: sticky;
		top: 1px;
		left: 0;
	}

	nav ul {
		display: flex;
		justify-content: space-between;
	}

	nav ul ul {
		display: none;
		margin-left: 0;
}

	nav li:focus-within > ul, nav li:hover > ul {
		position: absolute;
		display: block;
		background-color: rgba(0,0,0,.7);
		font-size: .9em;
		border-radius: 5px;
		margin-top: 3px;
	}

	nav li:hover li {
		margin-top: 7px;
	}

	nav li:hover li:last-child {
		margin-bottom: 7px;
	}
}

@media screen and (min-width: 979px) {

	article {
		float: left;
		width: 61%;
		margin-right: 6%;
	}

	aside {
		float: right;
		clear: none;
		width: 33%;
	}

	.grid::after {
		display: block;
		clear: both;
		content: "";
	}

	@supports(display: grid) {

		.grid {
			display: grid;
			grid-template-columns: 2fr 1fr;
			grid-gap: 10px;
		}

		article, aside {
			width: auto;
		}
	}
}




